<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wom.appwom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="Trang chính"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterStoreActivity" />
        <activity
            android:name=".DangNhapActivity"
            android:label="Đăng nhập">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DangKyActivity"
            android:label="Đăng ký"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DangNhapActivity" />
        </activity>
        <activity
            android:name=".QuenMatKhauActivity"
            android:label="Quên mật khẩu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DangNhapActivity" />
        </activity>
        <activity
            android:name=".ThongTinTaiKhoanActivity"
            android:label="Thông tin tài khoản"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".DoiMatKhauActivity"
            android:label="Đổi mật khẩu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".SanPhamActivity"
            android:label="Danh sách sản phẩm"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Dienthoai"
            android:label="Điện thoại"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SanPhamActivity" />
        </activity>
        <activity
            android:name=".GiohangActivity"
            android:label="Giỏ hàng của bạn"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SanPhamActivity" />
        </activity>
        <activity
            android:name=".ChitietSanpham"
            android:label="Chi tiết sản phẩm"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChitietSanphamLaptop"
            android:label="Chi tiết sản phẩm"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SanPhamActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Trang quản lý WOM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ThemmoiSanphamAdmin" />
        <activity
            android:name=".DonhangActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Đơn hàng">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".LichSuDonHangActivity" android:label="Chi tiết đơn hàng"/>
        <activity android:name=".TinNhanNDActivity" android:label="Tin nhắn"/>
        <activity android:name=".TinNhanADActivity" android:label="Tin nhắn" />
        <activity android:name=".TinNhanADGuiActivity" android:label="Tin nhắn"/>
        <activity android:name=".SuaSanPhamActivity"></activity>
        <activity android:name=".ThemloaispAdmin"></activity>
    </application>

</manifest>